---
import BaseLayout from "../layouts/BaseLayout.astro";
import PokemonList from "../components/PokemonList.vue";

const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=10");
const data = await res.json();
const pokemons = data.results || [];

const title = "Pokémon — My Site";
const description = "Pokémon page description.";
---

<BaseLayout title={title} description={description}>
  <h1 class="p-4 bg-sky-500/100 shadow rounded">{title}</h1>
  <div class="custom-class">{description}</div>
  <div class="mb-60">
    <PokemonList client:load pokemons={pokemons}>
  </div>
</BaseLayout>
